<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.SharmyApp"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>SharmyApp</name>

  <description>
      SharmyApp test app.
  </description>

  <author href="https://tag365.com" email="sutharshan@live.com">
     Sutharshan & Sharmy
  </author>

</widget>